version: "3.9"
services:
  postgres:
    image: postgres:13.2
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mnemona
  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    environment:
      - AUTH_SERVER_ENDPOINT=http://localhost:8001
      - MNEMONA_DB_CONNECTION_STRING=postgresql://postgres:postgres@postgres:5432/mnemona
      - HOST=0.0.0.0
      - PORT=8000
      - UVICORN_RELOAD=True
      - VERBOSE=False
    volumes:
      - ./backend/src/:/app/src/
    depends_on:
      - postgres
  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - PORT=3000
    volumes:
      - ./frontend/src/:/app/src/