name: Tests

env:
  # Application settings
  VERBOSE: True

  # Database
  AUTH_SERVER_ENDPOINT: "http://127.0.0.1"
  MNEMONA_DB_CONNECTION_STRING: "sqlite:///./auth.db"
  JWT_SECRET_KEY: "test"

  # Server
  CORS_ORIGINS: "http://localhost;http://127.0.0.1"
  HOST: "0.0.0.0"
  PORT: 80
  UVICORN_RELOAD: True

on:
  push:
    branches:
      - feature/**
      - bugfix/**
      - release/**
      - hotfix/**
  workflow_call:

jobs:
  python-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v3.3.0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      working-directory: ./backend
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Run tests
      working-directory: ./backend
      run: pytest
